.fizzbuzz-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgreen;
  color: orange;
}

.fizzbuzz-range-slider-container {
  display: flex;
  justify-content: center;
}