.fizzbuzz-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgreen;
  color: orange;
}

.fizzbuzz-range-selector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.root {
  width: 300px;
}

.fizzbuzz-button {
  margin-bottom: 30px;
  font-size: 16pt;
  font-weight: bold;
  background-color: gold;
  border: 2px solid darkgreen;
  border-radius: 1em;
  padding: 2px 8px;
}

#range-slider {
  margin-top: 20px;
  font-size: 14pt;
  font-weight: bold;
}

.fizzbuzz-increment-title {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 0;
}

.number {
  background: none;
}

.fizz {
  background: none;
  color: darkblue;
  font-size: 14pt;
}

.buzz {
  background: none;
  color: darkred;
  font-size: 14pt;
}

.fizzbuzz {
  background: none;
  color: darkmagenta;
  font-size: 18pt;
}


@media screen and (min-width: 1000px) {
  .fizzbuzz-range-selector-container {
    margin: 20px 50px;
  }

  .root {
    width: 1000px;
  }

  span {
    width: 30vw
  }

  .range-viewer-container {
    font-weight: bold;
    font-size: 14pt;
    margin-top: 30px;
  }

  #range-slider {
    font-size: 16pt;
  }

  .fizzbuzz-increment-title {
    margin-top: 30px;
  }

  .fizz {
    font-size: 18pt;
  }

  .buzz {
    font-size: 18pt;
  }

  .fizzbuzz {
    font-size: 24pt;
  }
}