.fizzbuzz-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkgreen;
  color: orange;
}

.fizzbuzz-range-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  width:30vw
}