.home-placeholder {
  font-size: 32px;
  background-color: lightgray;
  max-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-placeholder-text {
  border: 2px dashed darkgray;
  border-radius: 1em;
  max-width:30vw;
  padding: 1em;
  margin-top: -4em;
  font-weight: 700;
  color: gray;
}

.kata-menu {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  background-color: lightgray;
  max-width: 100vw;
  min-height: 80vh;
}