.kata-container {
    flex: 1;
    min-width: 20vw;
    max-width: 50vw;
    min-height: 25vh;
    max-height: 25vh;
    background-color: #bcc4cf;
    
    box-shadow: 10px 10px 5px 0px rgba(120,147,187,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(120,147,187,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(120,147,187,0.75);
    margin: 16px;

    border-radius: 1em;
    text-decoration: none;
}